.donate-form{

    .frm_style_formidable-style.with_frm_style .frm_form_field.frm_left_container{

        //grid-template-columns: 200px auto;
    }

    .frm_form_field.frm_left_container .frm_primary_label{
        font-weight: 700;
    }

    .frm_style_formidable-style.with_frm_style .frm_submit button{

        display: inline-block;
        font-family: "Quicksand", sans-serif;
        font-size: 18px;
        font-weight: 300;
        padding: 14px 22px;
        background-color: $light-brown;
        color: #ffffff;
        border-radius: 100px;
        text-align: center;
        transition: 350ms ease;
        border:none;
    }

    .frm_style_formidable-style.with_frm_style .frm_submit button:hover{

        background-color: $gray-dark;
    }


    input {

        padding: 20px 10px!important;
    }

    select {

        height: 40px;
    }

    .frm_style_formidable-style.with_frm_style .form-field input:not([type=file]):focus,
    .frm_style_formidable-style.with_frm_style select:focus{

        border-color:$light-brown;
    }

    #frm_field_19_container{

        position: relative!important;
        input[type=number]{

            padding: 20px 0 20px 45px!important;
        }
    }

    #frm_field_19_container:after{

        content:"$";
        font-size: 20px;
        z-index: 5;
        width: 40px;
        height: 42px;
        background-color: rgba(204, 204, 204, 0.447);
        position: absolute;
        left: 150px;
        top:0;
        display:flex;
        align-items: center;
        justify-content: center;

        @include max-mq(600px) {
            top:30px;
            left:0;
        }
    }
}