.site-branding {
  img {
      max-height: 50px;
      height: 100%;
  }
}

.nav-wall {
  margin-left: 15px;
  font-weight: 600;
  color: $light-brown;
  transition: $dur $ease;

  &:hover {
    color: $gray;
  }
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;

  @include max-mq(428px) {
    width: 100%;
    margin-top: 15px;
  }

}
.right-logo {
  max-height: 40px;
  margin-right: 25px;
}
